PySide2
# currently using a vendored version of pygatt,
# which *doesn't* include docs/anything about
# requirements (so these are taken from the 
# proper repo: https://github.com/peplin/pygatt)
pyserial
enum-compat
